<app-dialog>
  <section class="flex flex-col gap-6">
    <div class="flex flex-col gap-1 justify-center items-center">
      <p class="tracking-wide text-text-primary font-bold text-2xl">
        {{ today() | date: 'EEEE, MMM d' }}
      </p>
      <p class="text-text-secondary text-sm">Log today's progress</p>
    </div>

    <div>
      <app-button variant="secondary" (clicked)="markDayAsWorkout('workout')">
        <app-circle-check-icon />
        Mark workout as completed
      </app-button>
    </div>

    <div class="flex items-center gap-4">
      <hr class="w-1/2 border-border rounded-full" />
      <span class="text-xs sm:text-sm text-muted font-medium">OR</span>
      <hr class="w-1/2 border-border rounded-full" />
    </div>

    <div class="flex flex-col gap-2">
      <app-button variant="joker" (clicked)="markDayAsWorkout('joker')">
        <app-joker-icon />
        Use joker day
      </app-button>

      @if (workoutDaysStore.hasJokerDayInWeek()) {
        <app-helper-text>You have already used your joker day</app-helper-text>
      }
    </div>
  </section>
</app-dialog>
